* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

.center {
    padding-right: calc(50% - 925px);
    padding-left: calc(50% - 925px);
}

.button {
    border: none;
    cursor: pointer;
}

.link {
    text-decoration: none;
}

.list {
    list-style-type: none;
}

.text {
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #898989;
}

.heading {
    font-weight: bold;
}

.user-img {
   border-radius: 50%;
}

.header {
    padding-top: 20px;
    padding-bottom: 50px;
    display: flex;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 2;

    &__button {
        height: 17px;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-right: 28px;
    }

    &__logo {
        display: flex;
        margin-right: 59px;
    }

    &__search {
        background-color: transparent;
        mix-blend-mode: normal;
        border: none;
        padding: 12px 23px;
        width: 100%;
    }

    &__search:focus {
        outline: none;
    }

    &__links {
        display: flex;
        max-width: 260px;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        margin-right: 38px;
        margin-left: 5%;
    }
    
}


.button__line {
    display: block;
    width: 20px;
    height: 3px;
    background-color: #1F2022;
    border-radius: 20px;
}

.search-block {
    max-width: 830px;
    width: 100%;
    background-color: rgba(235,235,235,0.3);
    display: flex;
    border-radius: 22px;
    padding-right: 17px;
    align-items: center;
    margin-right: auto;
}

.search-button {
    background-color: transparent;
    right: 13px;
    top: 13px;
    width: 19px;
    height: 19px;
}

.search-button:focus {
    outline: none;
}

.search-block__icon {
    fill: #000;
}

.icon-link {
    fill: #000;
    opacity: 0.24;
    transition: opacity 0.3s;
}

.icon-link:hover {
    opacity: 0.6;
}

.aside {
    position: fixed;
    left: 0;
    top: 114px;
    height: calc(100% - 114px);
    overflow-y: auto;
    width: 15%;
    background-color: #fff;
}

.aside__list_top {
    margin-bottom: 60px;
}

.aside__link {
    display: flex;
    align-items: center;
}

.aside__link:hover .text {
    color: #FF0000;
}

.aside__link:hover .icon {
    fill: #FF0000;
    opacity: 1;
}

.aside__heading {
    margin-top: 58px;
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 23px;
    color: #000000;
}

.content {
    width: 100%;
    padding-top: 114px;
   padding-left: 15%;
   padding-bottom: 64px;
}

.nav__icon {
    opacity: 24%;
    margin-right: 13px;
}

.aside__item {
    margin-bottom: 29px;
}

.aside__list_top .aside__item {
    margin-bottom: 28px;
}

.acide-text-bottom {
    color: #C2C2C2;
}

.aside__list_bottom {
    margin-top: 104px;
}

.ava-img {
    margin-right: 10px;
    width: 26px;
    height: 26px;
    border-radius: 50%;
}

.channel {
    position: relative;

    &:not(:last-child) {
        margin-bottom: 107px;
    }

    &__img {
        border-radius: 50%;
    }
    
    &__link {
        display: flex;
        align-items: center;
        margin-bottom: 30px;
    }
    
    &__text {
        margin-left: 20px;
        font-weight: bold;
        font-size: 26px;
        line-height: 33px;
        color: #19202C;
    }

    &__buttons {
        display: flex;
        width: 66px;
        justify-content: space-between;
        position: absolute;
        top: 0;
        right: 13%;
    }

    &__button:focus {
        outline: none;
    }

    &__button:hover {
        cursor: pointer;
    }}



.video {
    width: 250px;
    height: 150px;
    overflow: hidden;
    position: relative;

    &__img {
        object-fit: cover;
        border-radius: 14px;
    }
    
    &__time {
        position: absolute;
        bottom: 10px;
        right: 10px;
        font-size: 14px;
        line-height: 18px;
        text-align: right;
        color: #FFFFFF;
        background-color: rgba(0,0,0,0.3);
        border-radius: 12px;
        padding: 3px 9px;
    }
}

.recommended__video {
    width: 540px;
    height: 250px;
}

.recommended__heading {
    font-weight: bold;
    font-size: 26px;
    line-height: 33px;
    color: #19202C;
}



.swiper-slide {
    margin-right: 40px;
    width: 250px;

    &__text {
        width: 250px;
        margin-top: 10px;
    }
    
    &__heading {
        color: #19202C;
        font-size: 16px;
        line-height: 20px;
        padding-bottom: 4px;
    }
    
    &__info {
        display: flex;
        justify-content: space-between;
    }
    
    &__counter {
        display: flex;
    }
    
    &__views::after {
        content: '';
        width: 2px;
        height: 2px;
        background-color: #C2C2C2;
        display: inline-block;
        vertical-align: middle;
        margin-left: 5px;
    }
    
    &__date {
        margin-left: 5px;
    }

}

.recommended__text {
    width: 540px;
}

.recommended__swiper-slide {
    margin-right: 27px;
}


.slide-text {
    font-size: 13px;
    line-height: 16px;
    color: #C2C2C2;
}

.food-drink__heading {
    font-weight: bold;
    font-size: 26px;
    line-height: 33px;
    color: #19202C;
    margin-right: 19px;
}

.food-drink__img {
    object-fit: cover;
    margin-right: 20px;
}

.food-drink__text {
    color: #C2C2C2;
}